<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="estilo.css" rel="stylesheet">
</head>
<body>
<h1>Resposta para o usuário:</h1>

<p>Nome: <%= nome %> </p>
<p>Sobrenome: <%= sobrenome %> </p>
<p>Email: <%= email %> </p>
<p>Time que torce: <%= time %> </p>

</body>
</html>
