<%- include("partials/header") %>
<div class="container">
  <form method="POST">
    <input name="nome" placeholder="Nome"><br>
    <input name="login" placeholder="Login"><br>
    <input name="senha" placeholder="Senha" type="password"><br>
    <button type="submit">Cadastrar</button>
  </form>
</div>
