<%- include("partials/header") %>
<div class="container">
  <form method="POST">
    <input name="marca" placeholder="Marca"><br>
    <input name="modelo" placeholder="Modelo"><br>
    <input name="ano" placeholder="Ano" type="number"><br>
    <input name="qtde_disponivel" placeholder="Quantidade" type="number"><br>
    <button type="submit">Cadastrar</button>
  </form>
</div>
