<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Blog</h1>
  <a href="/cadastrar">Criar novo post</a>

  <% posts.forEach(post => { %>
    <div class="post">
      <h2><%= post.titulo %></h2>
      <p><strong>Resumo:</strong> <%= post.resumo %></p>
      <p><%= post.conteudo %></p>
    </div>
  <% }) %>
</body>
</html>
