<div class="container">
  <h1>Gerenciamento de Carros</h1>
  <nav>
    <a href="/projects">Projetos</a> |
    <a href="/carros">Carros</a> |
    <a href="/gerenciar-carros">Gerenciar</a> |
    <a href="/cadastro">Cadastro</a> |
    <a href="/login">Login</a>
  </nav>
  <hr />
</div>
