body {
  background-color: #304442;
  font-family: Arial, sans-serif;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 10px;
}

  